{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="competences" id="competences">
    <div class="competences-content">
        <h3 class="heading">Mes compétences</h3>
        <div class="competences-row">
            <div class="competences-column">
                <h3 class="title">Programmation</h3>
                <div class="competences-box">
                    <div class="competences-content">
                        <div class="percent-bar">
                            <h3>HTML<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>CSS<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>JavaScript/JQuery<span>65%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Python<span>90%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Django<span>90%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>SQL/POSTGRESQL<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>Flask<span>70%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>Nginx<span>75%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>Gunicorn/Supervisor<span>75%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="competences-column">
                <h3 class="title">Professionnel</h3>
                <div class="competences-box">
                    <div class="competences-content">
                        <div class="percent-bar">
                            <h3>Gestion de projet (Trello/Slack)<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Conception UML<span>60%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Documentation technique<span>90%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Intégration continue (Travis CI)<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        
                        <div class="percent-bar">
                            <h3>Test Driven Development (TDD)<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>

                        <div class="percent-bar">
                            <h3>Git/GitHub<span>80%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>Canva/Figma<span>50%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>IDE (Sublime Text, PyCharm, Visual Studio Code)<span>90%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                        <div class="percent-bar">
                            <h3>Linux<span>85%</span></h3>
                            <div class="bar"><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}


