{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="education" id="education">
    <h3 class="heading">Mon parcours</h3>
    <div class="education-row">
        <div class="education-column">
            <h3 class="title">Diplômes</h3>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Juin 2020 - Mars 2023
                            <ion-icon name="location"></ion-icon>
                            Paris, France
                        </div>
                        <h3>Bac+3/4 - Développeur Python/Django - Openclassrooms</h3>
                        <p>Analyser un cahier des charges</p>
                        <p>Concevoir l’architecture technique d’une application à l’aide de diagrammes UML</p>
                        <p>Créer des projets web dynamiques grâce à Python</p>
                        <p>Communiquer avec une base de données pour stocker et requêter des informations</p>
                        <p>Développer de manière professionnelle grâce au framework Django</p>
                        <p>Mettre en oeuvre des tests unitaires et fonctionnels</p>
                        <p>Utiliser les outils les plus connus d’intégration continue</p>
                        <p>Produire une documentation technique et fonctionnelle de l’application</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            2017 - 2018
                            <ion-icon name="location"></ion-icon>
                            Rennes (À distance), France
                        </div>
                        <h3>Bac+5 - Rédacteur Technique - CI3M </h3>
                        <p>Diplôme en rédaction de documentation technique professionnelle <br>(industrie lourde, logiciel, électronique, ferroviaire) </p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            2012 - 2014
                            <ion-icon name="location"></ion-icon>
                            Paris, France
                        </div>
                        <h3>Master 1 - Études Chinoises Spécialité Linguistique - INALCO</h3>
                        <p>Étude approfondie de la langue et de la linguistique chinoises pour enseignement</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            2011 - 2012
                            <ion-icon name="location"></ion-icon>
                            Taipei, Taïwan
                        </div>
                        <h3> Échange universitaire à National Taiwan Normal University </h3>
                        <p>Perfectionnement de la langue et de la culture chinoises au Mandarin Training Center (MTC)</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="education-column">
            <h3 class="title">Expériences</h3>
            <div class="education-box">

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Actuellement
                            <ion-icon name="location"></ion-icon>
                            Paris, France
                        </div>
                        <h3>Développeur Python/Django - Autodidacte</h3>
                        <p>Perfectionnement en Python, Django et Flask dans le cadre de projets personnels</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Août 2021 - Février 2022 (6 mois)
                            <ion-icon name="location"></ion-icon>
                            Paris, France
                        </div>
                        <h3>Développeur Python/Django - Tech Kids Academy</h3>
                        <p>Conception de supports pédagogiques en Python destinés à son enseignement</p>
                        <p>Développement de mini-jeux en Python (Pygame)</p>
                        <p>Chargé de cours en Python</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Octobre 2017 - Avril 2019 (1 an 6 mois)
                            <ion-icon name="location"></ion-icon>
                            Saint-Denis, France
                        </div>
                        <h3>Rédacteur technique - IGDOC</h3>
                        <p>Rédaction de documents techniques orientés industrie ferroviaire (SNCF) </p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Août 2016 - Juillet 2017 (10 mois)
                            <ion-icon name="location"></ion-icon>
                            Nantou, Taïwan
                        </div>
                        <h3>Enseignant de français - Université Chi Nan </h3>
                        <p>Cours de français (écrit, oral) de la 1re année à 4ème année de faculté</p>
                        <p>Aide à la préparation au Diplôme d'Etudes en Langue Française DELF (niveaux A1.1, A1, A2, B1)</p>
                    </div>
                </div>
                
                <div class="education-content">
                    <div class="content">
                        <div class="year">
                            <ion-icon name="calendar"></ion-icon>
                            Sept. 2014 - Mai 2015 (10 mois)
                            <ion-icon name="location"></ion-icon>
                            Le Havre, France
                        </div>
                        <h3>Tuteur de langue chinoise - Université du Havre </h3>
                        <p>Cours de soutien chinois (écrit, oral) de la 1ère année à la 3ème année</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}


